.gf-value-style-2 {
  background-color: #80a0c0;
  color: #000;
  font-size: 3rem;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease; }

.gf-value-style-4 {
  background-color: #6080a0;
  color: #000;
  font-size: 3rem;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease; }

.gf-value-style-8 {
  background-color: #406080;
  color: #fff;
  font-size: 3rem;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease; }

.gf-value-style-16 {
  background-color: #204060;
  color: #fff;
  font-size: 2.8rem;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease; }

.gf-value-style-32 {
  background-color: #80c0a0;
  color: #000;
  font-size: 2.8rem;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease; }

.gf-value-style-64 {
  background-color: #60a080;
  color: #000;
  font-size: 2.8rem;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease; }

.gf-value-style-128 {
  background-color: #408060;
  color: #fff;
  font-size: 2.1rem;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease; }

.gf-value-style-256 {
  background-color: #206040;
  color: #fff;
  font-size: 2.1rem;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease; }

.gf-value-style-512 {
  background-color: #ffa080;
  color: #000;
  font-size: 2.1rem;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease; }

.gf-value-style-1024 {
  background-color: #ef8060;
  color: #000;
  font-size: 1.7rem;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease; }

.gf-value-style-2048 {
  background-color: #df6040;
  color: #fff;
  font-size: 1.7rem;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease; }

.gf-value-style-4096 {
  background-color: #cf4020;
  color: #fff;
  font-size: 1.7rem;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease; }

.gf-value-style-8192 {
  background-color: #606060;
  color: #fff;
  font-size: 1.7rem;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease; }

.gf-value-style-16384 {
  background-color: #484848;
  color: #fff;
  font-size: 1.3rem;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease; }

.gf-value-style-32768 {
  background-color: #303030;
  color: #fff;
  font-size: 1.3rem;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease; }

.gf-value-style-65536 {
  background-color: #181818;
  color: #fff;
  font-size: 1.3rem;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease; }

.gf-value-style-131072 {
  background-color: black;
  color: #fff;
  font-size: 1.1rem;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease; }

/*# sourceMappingURL=colour-scheme.css.map */
