.game-board {
    width: 460px;
    height: 460px;
   /* background-color: #999;*/
}

.game-field {
    width: 100px;
    height: 100px;
    line-height: 100px;
    border: 3px solid orange;
    border-style: ridge;
    border-radius: 10px;
}

.scores {
    width: 100px;
    height: 70px;
    font-size: x-large;
    border: 3px solid blue;
    border-style: outset;
    border-radius: 5px;
    background-color: orange;
}

.gf-value-style-0 {
    background-color: transparent;
    color: transparent;
    font-size: 3.5rem;
}
.gf-value-style-2 {
    background-color: #111111;
    font-size: 3.5rem;
}
.gf-value-style-4 {
    background-color: #222222;
    font-size: 3.5rem;
}
.gf-value-style-8 {
    background-color: #333333;
    font-size: 3.5rem;
}
.gf-value-style-16 {
    background-color: #555555;
    font-size: 3.2rem;
}
.gf-value-style-32 {
    background-color: #777777;
    font-size: 3.2rem;
}
.gf-value-style-64 {
    background-color: #999999;
    font-size: 3.2rem;
}
.gf-value-style-128 {
    background-color: #aaaaaa;
    font-size: 2.6rem;
}
.gf-value-style-256 {
    background-color: #bbbbbb;
    font-size: 2.6rem;
}
.gf-value-style-512 {
    background-color: #cccccc;
    font-size: 2.6rem;
    color: #000;
}
.gf-value-style-1024 {
    background-color: #dddddd;
    font-size: 2rem;
    color: #000;
}
.gf-value-style-2048 {
    background-color: #eeeeee;
    font-size: 2rem;
    color: #000;
}
.gf-value-style-4096 {
    background-color: #ffffff;
    font-size: 2rem;
    color: #000;
}
.gf-value-style-8192 {
    background-color: #aabbcc;
    font-size: 2rem;
    color: #000;
}
.gf-value-style-16384 {
    background-color: #ddccaa;
    font-size: 1.5rem;
    color: #000;
}
.gf-value-style-32768 {
    background-color: #446688;
    font-size: 1.5rem;
    color: #000;
}
.gf-value-style-65536 {
    background-color: #6688aa;
    font-size: 1.5rem;
    color: #000;
}