html,
body {
    margin: 0;
}

.title-row {
    padding-top: 10px;
}

#title-landscape h1 {
    display: none;
}

.scores-row {
    padding-top: 20px;
}

.message-row {
    padding-top: 14px;
}

.game-board-container {
    position: relative;
    padding-top: 14px;
    padding-bottom: 24px;
    width: 100%;
}

.game-board {
    position: relative;
    width: 352px;
    height: 352px;
}

.game-tile {
    width: 78px;
    height: 78px;
    line-height: 78px;
    border: 3px solid orange;
    border-style: ridge;
    border-radius: 5px;
}

.scores-tile {
    height: 70px;
    border: 3px solid blue;
    border-style: outset;
    border-radius: 5px;
    background-color: orange;
}

.scores-text {
    font-size: 1.3rem;
}

.score {
    font-size: 1.6rem;
    margin-top: -5px;
    color: #9933CC;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

.score-animate {
    font-size: 2.8rem;
    margin-top: -20px;
    color: #CC0000;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}


/*    TOOLTIP is from tutorialzine */

.tooltip-container {
    height: 2px;
    position: relative;
    display: block;
}

.details {
    position: absolute;
    top: 36px;
    right: 18px;
    text-align: center;
    background-color: #6080a0;
    opacity: 0.9;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    font-size: 18px;
    line-height: 26px;
    cursor: default;
    z-index: 5;
}

.details:before {
    content: '?';
    font-weight: bold;
    color: #fff;
}

.details:hover p {
    display: block;
    transform-origin: 100% 0%;
    -webkit-animation: fadeIn 0.3s ease-in-out;
    -moz-animation: fadeIn 0.3s ease-in-out;
    animation: fadeIn 0.3s ease-in-out;

}

.details p {
    /* The tooltip */
    display: none;
    text-align: justify;
    background-color: #1E2021;
    padding: 15px;
    width: 300px;
    position: absolute;
    border-radius: 10px;
    box-shadow: 2px 2px 2px rgba(255, 255, 255, 0.5);
    right: -5px;
    top: -4px;
    color: #FFF;
    font-size: 16px;
    line-height: 1.4;

}

.details p:before {
    /* The pointer of the tooltip */
    position: absolute;
    content: '';
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-bottom-color: #1E2021;
    right: 10px;
    top: -12px;
}

.details p:after {
    /* Prevents the tooltip from being hidden */
    width: 100%;
    height: 40px;
    content: '';
    position: absolute;
    top: -40px;
    left: 0;
}

/* animation for the tooltip*/

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
        transform: scale(0.6);
    }

    100% {
        opacity: 100%;
        transform: scale(1);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 100%;
    }
}

.changed {
    transform: scale(1.1, 1.1);
}

#btn-undo {
    width: 120px;
    height: 40px;
    margin-top: 5px;
    font-size: 1.1rem;
}

#btn-new-game {
    width: 120px;
    height: 40px;
    margin-top: 5px;
    font-size: 1.1rem;
}

.btn-arrow {
    width: 50px;
    height: 50px;
    font-size: 2rem;
    padding: 0;
}

.description {
    font-size: 1.3rem;
    line-height: 1.6rem;
}

.emph1 {
    font-size: 1.35rem;
    color: #f60;
    text-shadow: 1px -1px #fff;

}

.emph2 {
    font-style: oblique;
}

.emph3 {
    color: #93c;
}

.imitate-hover {
    color: #fff;
    background-color: #9933CC;
    border-color: #9933CC;
    text-decoration: none;
}

/* Small and large screens */

@media only screen and (max-width: 376px) {
    body {
        background-color: #111;
    }
    h5 {
        font-size: 1.3rem;
    }

    .details {
        top: 26px;
        right: 18px;
    }

    .game-board {
        width: 246px;
        height: 246px;
    }

    #btn-undo {
        width: 90px;
        height: 35px;
        margin-top: 3px;
        font-size: 1rem;
        padding: 2px;
    }

    #btn-new-game {
        width: 100px;
        height: 35px;
        margin-top: 3px;
        font-size: 1rem;
        padding: 2px;
    }
}

@media only screen and (min-width: 992px) {
    body {
        background-color: #111;
    }
    .game-board {
        width: 450px;
        height: 450px;
    }
    .title-landscape {
        display: block;
    }
}

/*Visibility and Positioning of Tooltip and Description*/

/*SMALL*/

@media only screen and (max-width: 768px) {
    .tooltip-container {
        display: block;
    }
    .description {
        display: none;
    }
    .details {
        top: 26px;
        right: 18px;
    }
}

/*MEDIUM landscape, including tablet*/

@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    .details {
        top: 0px;
        right: 20px;
    }
    .tooltip-container {
        display: block;
    }
    .description {
        display: none;
    }
}

/*MEDIUM portrait, including tablet*/

@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
    .tooltip-container {
        display: none;
    }
    .description {
        display: block;
    }
}

/*Large, laptop / desktop*/

@media only screen and (min-width: 1025px) {
    .tooltip-container {
        display: none;
    }
    .description {
        display: block;
    }
}

/*2048 TITLE Positioning*/

@media (orientation: landscape) {
    .title-container {
        display: none;
    }
    #title-landscape h1 {
        display: block;
    }
}
